<mat-card>
  <mat-card-header>
    <mat-icon>error</mat-icon>
    <mat-card-title>Oof! Error occured</mat-card-title>
    <mat-card-subtitle>Try refreshing</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="cuteKittensUrl" alt="Cute kittens!" />
  <mat-card-content>
    <p>
      I don't know why you're not looking at my fancy component view to display a link to a playlist, but as you're not,
      please enjoy this image of a cute kitten.
    </p>
  </mat-card-content>
</mat-card>
